---
import Layout from '../layouts/Layout.astro';
import Editor from '../components/Editor';
---

<Layout title="Markdown Editor">
  <main>
    <h1>Markdown Editor</h1>
    <Editor client:load />
  </main>
</Layout>